In [2]:
import pandas as pd
import numpy as np

In [3]:
import sklearn

In [6]:
# linear regression for multioutput regression
from sklearn.datasets import make_regression
from sklearn.linear_model import LinearRegression
print("sa")

sa

In [7]:
import pandas as pd  

df = pd.read_excel('dataset.xlsx')

In [8]:
df

    Age  heart beat in bpm  Gender  Number of steps  Sleep
0    20                 70       1             5100      7
1    18                 75       1             6000      8
2    16                 71       1             6100      8
3    18                 60       1             2900      8
4    28                 65       1             4100      7
5    68                 77       1             3500      7
6    78                 80       1             3050      7
7    88                 71       1             3010      8
8    38                 60       1             3700      6
9    11                 66       1             6000      9
10   58                 78       1             3300      7
11   18                 69       1             3150      7
12   45                 71       1             3600      8
13   25                 75       1             3200      7
14   98                 80       1             2100      9
15   32                 83       1             3900      7
16   38                 74       1             3650      8
17   28                 77       1             4150      7
18   18                 73       1             3300      8
19   20                 70       0             4400      7
20   18                 75       0             5300      8
21   16                 71       0             5400      8
22   18                 60       0             2200      8
23   28                 65       0             3400      7
24   68                 77       0             2800      7
25   78                 80       0             2350      7
26   88                 71       0             2310      8
27   38                 60       0             3000      6
28   11                 66       0             5300      9
29   58                 78       0             2600      7
30   18                 69       0             2450      7
31   45                 71       0             2900      8
32   25                 75       0             2500      7
33   98                 80       0             1400      9
34   32                 83       0             3200      7
35   38                 74       0             2950      8
36   28                 77       0             3450      7
37   18                 73       0             2600      8

In [60]:
X = df[['Age','heart beat in bpm','Gender']]

In [61]:
y = df[['Number of steps','Sleep']]

In [62]:
# define model
model = LinearRegression()

# fit model
model.fit(X, y)

LinearRegression()

In [63]:
inputt = [50, 20,0]
yhat = model.predict([inputt])

In [71]:
output = [el.round(1) for el in yhat]

In [72]:
output

[array([1774.2,    7.5])]